.chat-opt{
	width: 99%;
	padding: 15px 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.chat-opt-search-bar{
	background-color: white;
	width:60%;
	height: 40px;
	border-radius: 8px;
	box-sizing: border-box;
	border : 1px solid #EFF5F5;
	/* background-color: #419995; */
}
.search-iputfield{
	height:99%;
	width:95%;
	min-width: 60px;
	padding:0px;
	margin:0px;
	border:none;
	font-size: 11px;
	font-family: sans-serif;
	outline: none;
}
.create-btn{
	height:40px;
    width: 95px;
    background: #1d92af;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    z-index: 6;
}