.input-div{
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: 240px;
  margin-bottom: 25px;
  color : black;
  opacity: 80%;
}

.input-icon{

  padding-top: 0px;
  height:30px;
  opacity: 90%;
}
.active-input-icon{

  padding-top: 0px;
  height:30px;
  opacity: 90%;
  color: #1d92af;
}

.email-input{
  padding: 5px;
  width:inherit;
  border: none;
  outline :none;
  background-color: inherit;
}
.active-input-div{
  border-bottom: 1px solid #1d92af;
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: 240px;
 margin-bottom: 25px;
 color : black;
 opacity: 80%;
}
